.dark-top {
  background: white; }

body {
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0; }

p {
  color: #f1d4a7; }

#page {
  background: none; }

.ek-logo {
  padding: 60px 0% 0% 0%;
  margin: 0 auto;
  display: table; }
  @media (max-width: 500px) {
    .ek-logo {
      padding: 0; } }

a {
  color: #bfbbbb; }

a:hover {
  color: #e1cba9; }

#navigation-pages {
  position: relative;
  border: none;
  margin-top: 0; }
  @media (max-width: 500px) {
    #navigation-pages .menu {
      margin: 0; } }
  #navigation-pages .menu li a {
    color: #e1cba9;
    letter-spacing: 0.1em;
    font-size: 16px;
    display: block;
    padding: 0; }
    #navigation-pages .menu li a:hover {
      background: #e1cba9;
      color: black;
      border-radius: 3px; }
    @media (max-width: 500px) {
      #navigation-pages .menu li a {
        font-size: 13px;
        padding: 0; } }
  #navigation-pages .menu li a.active {
    background: #e1cba9;
    color: black;
    padding: 2px 10px;
    border-radius: 3px; }
  @media (max-width: 500px) {
    #navigation-pages .menu li.menu__item.is-leaf.last.leaf {
      display: table;
      margin: 0px auto;
      padding: 7px !important; }
      #navigation-pages .menu li.menu__item.is-leaf.last.leaf a {
        padding: 0px !important; } }

#page-wrapper {
  background: none;
  margin: 0;
  padding-bottom: 20px; }

.facebook {
  background-image: url("../images/fb.png");
  background-repeat: no-repeat;
  padding: 10px;
  background-size: 50%;
  margin: 0; }

.reverbnation {
  background-image: url("../images/reverbnation.png");
  background-repeat: no-repeat;
  padding: 6px 141px 0 0;
  margin: 0 20px; }

.sm_reverbnation {
  background-image: url("../images/reverbnation.png");
  background-repeat: no-repeat;
  padding: 6px 10px 0 10px; }

.twitter {
  background-image: url("../images/tw.png");
  background-repeat: no-repeat;
  padding: 25px;
  float: left;
  background-size: 100%;
  margin: 0 20px; }

.upperbuttons {
  margin: -60px 21% 0 0;
  float: right; }

.email {
  background-image: url("../images/mail.png");
  background-repeat: no-repeat;
  padding: 28px;
  float: left;
  background-size: 100%;
  margin: 0 20px; }

.home-text {
  color: #b6a386;
  padding: 0 23%; }
  .home-text p {
    padding: 20px 0; }
  @media (max-width: 768px) {
    .home-text {
      padding: 0 0; } }

.music-text {
  background-repeat: no-repeat;
  padding: 20px 60px;
  background-size: 100%;
  border-radius: 3px;
  text-transform: uppercase; }
  .music-text:hover {
    background: #e1cba9;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    color: black; }
  .music-text a {
    color: black; }
  .music-text a:hover {
    color: black;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s; }

a:-webkit-any-link {
  text-decoration: none; }

ul.graphic li {
  float: left;
  margin-top: 3px; }
  ul.graphic li a {
    background-color: transparent !important;
    display: inline;
    padding-right: 20px; }
  ul.graphic li a.sm2_link {
    display: inline;
    background-color: transparent !important;
    padding-right: 20px; }

.fb-share-button {
  float: left; }

div.jp-interface {
  background-color: transparent;
  border: none; }

div.jp-audio div.jp-type-playlist div.jp-interface {
  display: none;
  height: 33px;
  padding: 0 140px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  width: auto; }
div.jp-audio div.jp-type-playlist a.jp-play {
  top: 0;
  left: -5px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist a.jp-play {
      top: -8px;
      left: -10px;
      width: 55px;
      height: 55px; } }
div.jp-audio div.jp-type-playlist a.jp-stop {
  top: 5px;
  left: 30px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist a.jp-stop {
      top: -2px;
      left: 34px;
      width: 42px;
      height: 42px; } }
div.jp-audio div.jp-type-playlist div.jp-progress {
  top: 11px;
  left: 60px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist div.jp-progress {
      left: 75px; } }
div.jp-audio div.jp-type-playlist a.jp-mute {
  top: 5px;
  left: 182px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist a.jp-mute {
      left: 201px; } }
div.jp-audio div.jp-type-playlist div.jp-volume-bar {
  top: 15px;
  left: 211px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist div.jp-volume-bar {
      left: 230px; } }
div.jp-audio div.jp-type-playlist div.jp-current-time {
  top: 27px;
  left: 59px;
  width: 121px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist div.jp-current-time {
      left: 75px; } }
div.jp-audio div.jp-type-playlist div.jp-duration {
  top: 27px;
  left: 59px;
  width: 121px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist div.jp-duration {
      left: 77px; } }
div.jp-audio div.jp-type-playlist a.jp-pause {
  top: 0;
  left: -5px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist a.jp-pause {
      top: -8px;
      left: -10px;
      width: 55px;
      height: 55px; } }
div.jp-audio div.jp-type-playlist a.jp-unmute {
  top: 5px;
  left: 182px; }
  @media (max-width: 500px) {
    div.jp-audio div.jp-type-playlist a.jp-unmute {
      left: 201px; } }

div.jp-playlist ul {
  padding: 0 0;
  margin-top: 27px;
  margin-left: 0; }

div.jp-type-playlist li {
  border-bottom: none !important;
  padding: 10px 0 10px 52px !important; }
div.jp-type-playlist div.jp-playlist {
  background-color: transparent;
  border: none; }
  @media (max-width: 500px) {
    div.jp-type-playlist div.jp-playlist li {
      padding: 10px 0px 4px 0px !important; } }
  div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
    list-style-type: none;
    border-bottom: none;
    padding-bottom: 20px !important; }
  div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
    color: #ffdfad;
    padding: 20px;
    background: #e1cba9;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    color: black;
    border-radius: 3px;
    padding-left: 5px; }
  div.jp-type-playlist div.jp-playlist a.jp-playlist-current:before {
    content: url("../images/play-button.png");
    position: relative;
    top: 13px;
    right: 5px; }
  div.jp-type-playlist div.jp-playlist a {
    color: #e1cba9;
    padding: 20px;
    padding-left: 44px; }
    div.jp-type-playlist div.jp-playlist a:hover {
      background: #e1cba9;
      -o-transition: 1s;
      -ms-transition: 1s;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      transition: 1s;
      color: black;
      border-radius: 3px; }
  div.jp-type-playlist div.jp-playlist a:before {
    content: "";
    position: relative;
    top: 13px; }
  @media (max-width: 500px) {
    div.jp-type-playlist div.jp-playlist a {
      font-size: 13px; } }

div.jp-audio {
  width: auto; }

a.jp-play {
  background: url("../images/play-button.png");
  background-size: contain;
  top: 0;
  left: -5px; }
  @media (max-width: 500px) {
    a.jp-play {
      top: -8px;
      left: -28px;
      width: 55px;
      height: 55px; } }

a.jp-play:hover {
  background: url("../images/play-button.png");
  background-size: contain;
  top: 0;
  left: -5px; }
  @media (max-width: 500px) {
    a.jp-play:hover {
      top: -8px;
      left: -28px;
      width: 55px;
      height: 55px; } }

a.jp-stop {
  background: url("../images/stop3.png");
  background-size: contain; }
  @media (max-width: 500px) {
    a.jp-stop {
      top: -8px;
      left: 17px;
      width: 55px;
      height: 55px; } }

a.jp-stop:hover {
  background: url("../images/stop3.png");
  background-size: contain; }
  @media (max-width: 500px) {
    a.jp-stop:hover {
      top: -8px;
      left: 17px;
      width: 55px;
      height: 55px; } }

a.jp-next {
  display: none; }

a.jp-previous {
  display: none; }

a.jp-pause {
  background: url("../images/pause.png");
  background-size: contain;
  top: 0;
  left: -5px; }

a.jp-pause:hover {
  background: url("../images/pause.png");
  background-size: contain;
  top: 0;
  left: -5px; }

a.jp-mute {
  background: url("../images/loud.png");
  background-size: 100%;
  width: 28px;
  height: 28px; }

a.jp-unmute {
  background: url("../images/decrease.png");
  background-size: 100%;
  width: 28px;
  height: 28px; }

a.jp-mute:hover {
  background: url("../images/loud.png");
  background-size: 100%;
  width: 28px;
  height: 28px; }

a.jp-unmute:hover {
  background: url("../images/decrease.png");
  background-size: 100%;
  width: 28px;
  height: 28px; }

div.jp-audio, div.jp-video {
  font-size: 1em; }

.panels-flexible-region-music_page2-topleft,
.panels-flexible-region-music_page2-topright,
.panels-flexible-region-music_page2-left1,
.panels-flexible-region-music_page2-right1,
.panels-flexible-region-music_page2-left2,
.panels-flexible-region-music_page2-right2 {
  background-size: cover;
  margin: 5px;
  width: 48%; }
  @media (max-width: 768px) {
    .panels-flexible-region-music_page2-topleft,
    .panels-flexible-region-music_page2-topright,
    .panels-flexible-region-music_page2-left1,
    .panels-flexible-region-music_page2-right1,
    .panels-flexible-region-music_page2-left2,
    .panels-flexible-region-music_page2-right2 {
      width: 100%; } }

.panels-flexible-region-inside,
.panels-flexible-region-inside-first,
.panels-flexible-region-inside-last {
  padding: 25px 15px 45px 15px !important; }

.music-titles p {
  margin: 6% 0 2% 0;
  color: #e1cba9;
  text-transform: uppercase; }

.download {
  background-image: url("../images/dl1.png");
  background-repeat: no-repeat;
  padding: 7px 14px;
  background-size: 100%;
  margin: -4px 0 0 0; }
  @media (max-width: 500px) {
    .download {
      float: right;
      margin: -23px 0 0 0;
      padding: 12px 14px; } }

.metal-btn {
  background-image: url("../images/metalbutton.png");
  background-repeat: no-repeat;
  padding: 10px 10px;
  background-size: 100%;
  margin: 0 5px 0 0;
  float: left; }
  @media (max-width: 500px) {
    .metal-btn {
      margin: 0 0 0 0; } }

.right-buttons {
  float: left; }
  @media (max-width: 500px) {
    .right-buttons {
      float: none;
      padding: 10px 0; } }

.fb-like-box {
  float: right;
  margin-top: -100px; }
  @media (max-width: 768px) {
    .fb-like-box {
      margin-top: 0; } }

#panels-ipe-display-panel-context-page-music-blog-page-music-blog-panel-context {
  display: table;
  margin: 0 auto; }

.pane-music-blog-view {
  line-height: 3.5em; }

.node-music-blog-entry .field-name-field-music-blog-title {
  font-size: 1.5em;
  line-height: 2.5em; }
.node-music-blog-entry .field-name-body {
  padding: 0 10%; }

#panels-ipe-display-panel-context-page-about-page-about-panel-context {
  padding: 0 10%; }

.node-mp3 {
  display: table;
  margin: 0 auto; }
  .node-mp3 .fb_iframe_widget {
    padding: 0 0 0 20px; }
  .node-mp3 a.music-text {
    display: table;
    margin: 0 auto 10% auto; }
  @media (max-width: 500px) {
    .node-mp3 a.download {
      margin-top: -25px; } }

.google-search {
  max-width: 250px;
  margin-left: auto;
  margin-right: 0; }
