.dark-top
	background: white

body
	background-image: url("../images/cabin_room_psd_by_manoluv-d3klg5d-black.png")
	background-size: cover
#page
	background: none
.ek-logo
	padding: 60px 0% 0% 0%
	margin: 0 auto
	display: table
a
	color: #bfbbbb
a:hover
	color: #e1cba9
#navigation-pages 
	position: relative
	border: none
	.menu 

		li 
			a 
				color: #e1cba9
				letter-spacing: 0.1em
				font-size: 16px
				display: block
				padding: 30px 0

#page-wrapper 
	background: none
	margin: 0
	padding-bottom: 20px
.facebook
	background-image: url("../images/fb.png")
	background-repeat: no-repeat
	padding: 23px
	float: left
	background-size: 46%
	margin: 0 20px
.twitter 
	background-image: url("../images/tw.png")
	background-repeat: no-repeat
	padding: 25px
	float: left
	background-size: 100%
	margin: 0 20px
.email
	background-image: url("../images/mail.png")
	background-repeat: no-repeat
	padding: 28px
	float: left
	background-size: 100%
	margin: 0 20px
.home-text
	color: #B6A386
	padding: 0 23%
.music-text
	background-repeat: no-repeat
	padding: 20px 60px
	background-size: 100%
	border-radius: 3px
	text-transform: uppercase
	&:hover
		background: #e1cba9
		-o-transition: 1s
		-ms-transition: 1s
		-moz-transition: 1s
		-webkit-transition: 1s
		transition: 1s
		color: #000
	a
		color: #000
	a:hover
		color: #000
		-o-transition: 1s
		-ms-transition: 1s
		-moz-transition: 1s
		-webkit-transition: 1s
		transition: 1s



a:-webkit-any-link
	text-decoration: none

.music-titles

ul.graphic 
	li 
		float: left
		margin-top: 3px
		a
			background-color: transparent !important
			display: inline
			padding-right: 20px
		a.sm2_link
			display: inline
			background-color: transparent !important
			padding-right: 20px

.fb-share-button
	float: left




.fb_iframe_widget
	float: right
	top: -21px
div.jp-interface
	background-color: transparent
	border: none


div.jp-audio 
	div.jp-type-playlist 
		div.jp-interface
			height: 33px
		a.jp-play
			top: 0
			left: -5px
		a.jp-stop
			top: 5px
			left: 30px	
		div.jp-progress
			top: 11px
			left: 60px
		a.jp-mute
			top: 5px
			left: 182px
		div.jp-volume-bar
			top: 15px
			left: 211px
		div.jp-current-time
			top: 27px
			left: 59px
			width: 121px
		div.jp-duration
			top: 27px
			left: 59px
			width: 121px
		a.jp-pause
			top: 0
			left: -5px
		a.jp-unmute
			top: 5px
			left: 182px

div.jp-playlist 
	ul
		padding: 0 0 
		margin-top: 27px
		margin-left: -6px

div.jp-type-playlist

	div.jp-playlist 
		background-color: transparent
		border: none
		li.jp-playlist-current
			list-style-type: none
		a.jp-playlist-current
			color: #FFDFAD
			font-weight: bold
		a
			color: #FFF
div.jp-audio
	width: auto
a.jp-play
	background: url("../images/play3.png")
	background-size: contain
	top: 0
	left: -5px
a.jp-play:hover
	background: url("../images/play3.png")
	background-size: contain
	top: 0
	left: -5px

a.jp-stop
	background: url("../images/stop3.png")
	background-size: contain
a.jp-stop:hover
	background: url("../images/stop3.png")
	background-size: contain
a.jp-next
	display: none
a.jp-previous
	display: none
a.jp-pause 
	background: url("../images/pause.png")
	background-size: contain
	top: 0
	left: -5px
a.jp-pause:hover
	background: url("../images/pause.png")
	background-size: contain
	top: 0
	left: -5px

a.jp-mute
	background: url("../images/loud.png")
	background-size: 100%
	width: 28px
	height: 28px
a.jp-unmute
	background: url("../images/decrease.png")
	background-size: 100%
	width: 28px
	height: 28px
a.jp-mute:hover
	background: url("../images/loud.png")
	background-size: 100%
	width: 28px
	height: 28px
a.jp-unmute:hover
	background: url("../images/decrease.png")
	background-size: 100%
	width: 28px
	height: 28px

div.jp-audio, div.jp-video
	font-size: 1em


//music page

.panels-flexible-region-music_page-center, 
.panels-flexible-region-music_page-left_1, 
.panels-flexible-region-music_page-right_1
	background-image: url("../images/metal3.png")
	background-size: cover
	margin: 5px
	width: 31%
.panels-flexible-region-inside
	padding: 25px 15px 45px 15px

.music-titles
	p
		margin: 15px 0 0 0

.download
	background-image: url("../images/dl1.png")
	background-repeat: no-repeat
	padding: 15px 15px
	background-size: 100%
	margin: -6px 0 0 0
	float: left
